@{
    ViewBag.Title = "ForgotPassword";
}

<head>
    <title>Forgot Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

</head>
<div class="container">
    @Html.AntiForgeryToken()
    <h2>Forgot Password</h2>
    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
        <div asp-validation-summary="All" class="text-warning"></div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        
        <button type="submit" class="btn btn-primary">Get Email</button>
    </form>
</div>


